---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import TrustBar from '../components/TrustBar.astro';
import Categories from '../components/Categories.astro';
import FeaturedProducts from '../components/FeaturedProducts.astro';
import WhyUs from '../components/WhyUs.astro';
import Wholesale from '../components/Wholesale.astro';
import Testimonials from '../components/Testimonials.astro';
import Newsletter from '../components/Newsletter.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <TrustBar />
    <Categories />
    <FeaturedProducts />
    <WhyUs />
    <Wholesale />
    <Testimonials />
    <Newsletter />
  </main>
  <Footer />
</Layout>
